<% action = (params[:action] == 'new' || params[:action] == 'create') ? 'new' : 'update'   %>
<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 margin-top-3">
      <div class="white-box">
          <h3 class="box-title m-b-0"><%= action%> Inventroy</h3>
            <div class="white-box">
              <div class="row">
                  <div class="col-sm-12 col-xs-12">
                      <%= form_with(model: inventory, local: true) do |f| %>
                          <div class="form-group">
                              <label for="is_accessory">Is Accessory</label>
                              <%= f.select :is_accessory, options_for_select([['Yes', true], ['No', false]], f.object.is_accessory), {}, {:class => 'form-control'}%> 
                          </div>
                          <div class="form-group guitar-select ">
                              <label for="guitar_id">Guitar</label>
                              <%= f.select :guitar_id, options_for_select(Guitar.all.map { |guitar| [guitar.name, guitar.id] }, f.object.guitar_id), {:prompt => 'Select Guitar'}, {:class => 'form-control'}%> 
                          </div>
                          <div class="form-group accessory-select hide">
                              <label for="accessory_id">Accessory</label>
                              <%= f.select :accessory_id, options_for_select(Accessory.all.map { |accessory| [accessory.name, accessory.id] }, f.object.accessory_id), {:prompt => 'Select Accessory'}, {:class => 'form-control'}%> 
                          </div>
                          <div class="form-group">
                              <label for="stock_status">Stock Status</label>
                              <%= f.select :stock_status, options_for_select([['In', 'in'], ['Out', 'out']], f.object.stock_status), {}, {:class => 'form-control'}%> 
                          </div>
                          <div class="form-group">
                              <label for="quantity">Quantity</label>
                              <%= f.number_field :quantity, :class=>"form-control", :placeholder=>"Quantity", :id=>"quantity"%>
                          </div>
                          <div class="form-group">
                              <label for="price_per_unit">Price Per Unit</label>
                              <%= f.number_field :price_per_unit, :class=>"form-control", :placeholder=>"Price Per Unit", :id=>"price_per_unit", :step=>'0.001'%>
                          </div>

                          <div class="form-group">
                              <label for="total_price">Total</label>
                              <%= f.number_field :total_price, :class=>"form-control", :placeholder=>"Total", :id=>"total_price", :step=>'0.001', :readonly=> true%>
                          </div>
          

                          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>

                          <%= link_to 'Cancel', guitars_path, :class => "btn btn-inverse waves-effect waves-light"%>
                          
                      <% end %>
                  </div>
              </div>
            </div>
          </div>
    </div>
</div>

<script>
$(function(){
  $('[name="inventory[is_accessory]"]').unbind('change').bind('change', function(){
    if($(this).val() === 'true'){
      $('[name="inventory[guitar_id]"]').val("").addClass('disabled')
      $('[name="inventory[accessory_id]"]').removeClass('disabled')
      $('.guitar-select').addClass('hide')
      $('.accessory-select').removeClass('hide')
    }else{
      $('[name="inventory[accessory_id]"]').val("").addClass('disabled')
      $('[name="inventory[guitar_id]"]').removeClass('disabled')
      $('.accessory-select').addClass('hide')
      $('.guitar-select').removeClass('hide')
    }

  });
  $('#quantity').unbind('focusout').bind('focusout', function(){
    if($('[name="inventory[stock_status]"]').val() === "out"){
      if($('[name="inventory[guitar_id]"]').val() === "" && $('[name="inventory[accessory_id]"]').val() === ""){
        alert('please select guitar / accessory');
        $(this).val(0);
      }else{
        checkQuantityExceed();
      }
    }
  })
  $('#quantity, #price_per_unit').unbind('keyup').bind('keyup', function(){
    calculateTotal()
  })
  function calculateTotal(){
    let quantity = parseInt($('#quantity').val()) || 0, ppu = parseFloat($("#price_per_unit").val()) || 0;
    let total = ppu * quantity;
    $("#total_price").val(total.toFixed(2))
  }
  function checkQuantityExceed(){
    let is_accessory= $('[name="inventory[is_accessory]"]').val()
    let data ={
      is_accessory: is_accessory,
      product_id: (is_accessory === "true") ? $('[name="inventory[accessory_id]"]').val() : $('[name="inventory[guitar_id]"]').val(),
      quantity: $('#quantity').val()
    }
    $.ajax({url: "<%=check_quantity_exceeded_inventories_path%>",
          data: JSON.stringify(data), 
          type: "POST",
          dataType: 'json',
          contentType : 'application/json',
          success: function(res){
          if(res.message.length > 0){
            alert(res.message);
            $('#quantity').val(0)
          }
              
      }});
  }
})
</script>