<p id="notice"><%= notice %></p>

<% url = '/'+params[:controller]+'.json' %>
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Inventory</h4> </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
      <a href="<%=new_inventory_path%>" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light add_new_btn">Add New</a>
    </div>
</div>

<div class="row">
  <div class="col-sm-12">
      <div class="white-box">
          <div class="table-responsive">
              <table id="sample-table-2" class="table table-striped" data-source="<%= url%>">
                  <thead>
                      <tr>
                          <th>Product Name</th>
                          <th>Is Accessory</th>
                          <th>Quantity</th>
                          <th>Price per unit</th>
                          <th>Total price</th>
                          <th>Updated At</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<script>
  $(function(){
    initDatatables(1, "ASC");
  })
</script>