<p id="notice"><%= notice %></p>

<p>
  <strong>Is accessory:</strong>
  <%= @inventory.is_accessory %>
</p>

<p>
  <strong>Guitar:</strong>
  <%= @inventory.guitar_id %>
</p>

<p>
  <strong>Accessory:</strong>
  <%= @inventory.accessory_id %>
</p>

<p>
  <strong>Stock status:</strong>
  <%= @inventory.stock_status %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory.quantity %>
</p>

<p>
  <strong>Price per unit:</strong>
  <%= @inventory.price_per_unit %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @inventory.total_price %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
