<!-- Left navbar-header -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <% if user_signed_in?%>
            <div class="user-profile">
                <div class="dropdown user-pro-body">
                    <div><img src="/assets/users/default_user.png" alt="user-img" class="img-circle"></div>
                    
                </div>
            </div>
        <% end %>
        <ul class="nav" id="side-menu">
            <% if !user_signed_in?%>

            <% elsif current_user.is_admin  %>
                
                <li><a href="<%=  brands_url %>"><i class=" fa fa-home"></i> Brands</a></li>
                <li><a href="<%= guitars_url%>"><i class="ti-user"></i>Guitars</a></li>
                <li><a href="<%= accessories_url %>"><i class="fa  fa-cube"></i> Accessories</a></li>
                <li><a href="<%= inventories_url %>"><i class="fa fa-copy"></i> Inventories</a></li>
                <li><a href="<%= destroy_user_session_path %>" data-method="delete" class="waves-effect"><i class="icon-logout fa-fw"></i> <span class="hide-menu">Log out</span></a></li>
            <% else  %>
                
                <li >
                    <a href="#"><i class=" fa fa-home"></i> Guitars</a></li>
                    <ul>
                        <% $GUITAR_TYPES[0..1].each do |guitar_type| %>
                            <li>
                                <a href="<%= root_path({:p=> 'guitar', :t=> guitar_type[1]})%>"><%=guitar_type[0]%></a> 
                            </li>
                        <% end %>
                    </ul>
                </li>
                <li >
                    <a href="#"><i class=" fa fa-home"></i> Accessories</a></li>
                    <ul>
                        <% $GUITAR_TYPES.each do |guitar_type| %>
                            <li>
                                <a href="<%= root_path({:p=> 'accesory', :t=> guitar_type[1]})%>"><%=guitar_type[0]%></a> 
                            </li>
                        <% end %>
                    </ul>
                </li>
                <li><a href="<%= destroy_user_session_path %>" data-method="delete" class="waves-effect"><i class="icon-logout fa-fw"></i> <span class="hide-menu">Log out</span></a></li>

            <% end %>

        </ul>
    </div>
</div>
<!-- Left navbar-header end -->