


<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
        <div class="top-left-part"><a class="logo" href="/"><b><!--This is dark logo icon--><img src="/assets/eliteadmin-logo.png" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="/assets/eliteadmin-logo-dark.png" alt="home" class="light-logo" /></b><span class="hidden-xs"><!--This is dark logo text--><img src="/assets/eliteadmin-text.png" alt="home" class="dark-logo" /><!--This is light logo text--><img src="/assets/eliteadmin-text-dark.png" alt="home" class="light-logo" /></span></a></div>
        <ul class="nav navbar-top-links navbar-right pull-right ">
            
            <li class="nav-item right-side-toggle"> 
                <a class="nav-link  waves-effect waves-light" href="<%= cart_path %>">
                    <i class="fa fa-shopping-cart"></i> Cart
                    
                </a>
            </li>
            <% if user_signed_in?%>
                <li class="nav-item right-side-toggle"> 
                    <a class="nav-link  waves-effect waves-light" href="javascript:void(0)">
                        <i class="fa fa-user"></i> <%= current_user.email %>
                    </a>
                </li>
                <li class="nav-item right-side-toggle"> 
                    <a class="nav-link  waves-effect waves-light" href="<%= destroy_user_session_path %>" data-method="delete">
                        <i class="fa fa-sign-in"></i> 
                    </a>
                </li>
            <% else %>
                <li class="nav-item right-side-toggle"> 
                    <a class="nav-link  waves-effect waves-light" href="<%= new_user_session_path%>">
                        <i class="fa fa-user"></i> Login
                    </a>
                </li>
            <% end %>
                 
        </ul> 
    </div>
</nav>