 <div style="padding: 5px" class="custom-card">
    <a href="<%= show_path({:pc=> product.class , :pi=> product.id })%>">
        <img class="img-responsive" alt="eCommerce Product List" src="<%= product.image_url%>" />
        <br />
        <h2 class="pull-right">₹ <%= product.price%></h2>
        <h2><a href="#"><%= product.name.truncate(12) %></a></h2>
        <h4><a class="text-muted"><%= product.brand.name.truncate(12) %></a></h4>
        <br />
        <p class="text-justify"><%= product.description.truncate(50, separator: ' ')%></p>
    </a>
    <br />
    <div class="btn-ground text-center" style="padding-bottom: 30px">
        <button type="button" class="btn btn-primary btn-block add-to-cart" data-product-class="<%=product.class%>" data-product-id="<%= product.id %>">
            <i class="fa fa-shopping-cart"></i> Add To Cart
        </button>
    </div>
</div>