 <div class="row bg-title">
    <div class="col-sm-12 text-center">
        <h4 class="page-title">Cart</h4> </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-sm-8 offset-sm-2">
      <% if @shopping_cart.total_unique_items > 0 %>
         <div class="row white-box">
            <div class="col-12">
                  <div class="table-responsive">
                     <table class="table table-striped">
                        <thead>
                              <tr>
                                 <th scope="col" class="text-center"> Image</th>
                                 <th scope="col" class="text-center" >Product</th>
                                 <th scope="col" class="text-center">Quantity</th>
                                 <th scope="col" class="text-center">Price</th>
                                 <th scope="col" class="text-center">Actions</th>
                              </tr>
                        </thead>
                        <tbody>
                              <% @shopping_cart.cart_items.each do |cart_item|%>
                                 <tr>
                                    <% item = cart_item.item%>
                                    <td class="text-center">
                                       <a href="<%= show_path({:pc=> item.class , :pi=> item.id })%>">
                                          <img src="<%= item.image_url%>" width="50px" height="50px"/> 
                                       </a>
                                    </td>
                                    <td class="text-center"><%= item.name%></td>
                                    <td class="text-center"><%= cart_item.quantity%></td>
                                    <td class="text-center">₹ <%= cart_item.price * cart_item.quantity  %></td>
                                    <td class="text-center">
                                       <button class="btn btn-sm btn-danger remove-from-cart" data-product-qty="<%= cart_item.quantity%>" data-product-id="<%= item.id%>" data-product-class="<%= item.class.to_s%>" ><i class="fa fa-trash"></i> </button> 
                                    </td>
                                 </tr>
                              <% end %>
                              <tr>
                                 <td></td>
                                 <td></td>
                                 <td></td>
                                 <td>Sub-Total</td>
                                 <td class="text-right">₹ <%= @shopping_cart.subtotal%></td>
                              </tr>
                              <tr>
                                 <td></td>
                                 <td></td>
                                 <td></td>
                                 <td>Shipping</td>
                                 <td class="text-right">₹ <%= @shopping_cart.shipping_cost%></td>
                              </tr>
                              <tr>
                                 <td></td>
                                 <td></td>
                                 <td></td>
                                 <td><strong>Total</strong></td>
                                 <td class="text-right"><strong>₹ <%= @shopping_cart.subtotal%></strong></td>
                              </tr>
                        </tbody>
                     </table>
                  </div>
            </div>
            <div class="col mb-2">
                  <div class="row">
                     <div class="col-sm-12  col-md-6">
                        <a class="btn  btn-primary btn-light text-uppercase"  href="<%= root_path %>">Continue Shopping</a>
                     </div>
                     <div class="col-sm-12 col-md-6 text-right">
                        <button class="btn  btn-success text-uppercase checkout-btn" >Checkout</button>
                     </div>
                  </div>
            </div>
         </div>
      <% else %>
         <div class="row white-box ">
            <div class="col-sm-12 text-center"> 
               <h3>Shopping cart is empty please add items first</h3>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="col-sm-12 text-center">
               <a class="btn  btn-primary btn-light text-uppercase"  href="<%= root_path %>">Continue Shopping</a>
            </div>
         </div>
      <% end %>
      
   </div>
</div>

<script> 
$(function(){
   $(".checkout-btn").unbind('click').bind('click', function(){
      alert("Order has been successfully placed")
      window.location.href="<%= root_path %>"
   })
    $(".remove-from-cart").unbind('click').bind('click',  function(){
            let $closestTr = $(this).closest('tr');
            let data ={
                pc: $(this).attr('data-product-class'),
                pi: $(this).attr('data-product-id'),
                qt: $(this).attr('data-product-qty')
            }
            $.ajax({url: "<%=remove_from_cart_path%>",
                data: JSON.stringify(data), 
                type: "POST",
                dataType: 'json',
                contentType : 'application/json',
                success: function(res){
                  alert(res.message);
                  $closestTr.remove()
            }});
        })
})
</script>