<%selected_product = params[:p] %>
<%selected_guitar_type = params[:t] %>
<% selected_brands = params[:b].split(",") %>
<% selected_strings = params[:n].split(",") %>
<div class="row">
    <div class="col-md-3 margin-top-20">
        <div class="panel panel-default">
            <div class="panel-heading">Items</div>
            <div class="panel-body">
                <div class="row">
                   <div class="col-sm-12">
                        <% $PRODUCTS.each do |product|%>
                            <div class="form-check">
                                <label class="custom-control custom-radio">
                                    <% if selected_product == product[1] %> 
                                        <input id="radio1" name="product" type="radio" class="custom-control-input"  value="<%= product[1]%>" checked="" data-value="<%= product[1]%>" data-change="product">
                                    <% else %>
                                        <input id="radio11" name="product" type="radio" class="custom-control-input"  value="<%= product[1]%>" data-value="<%= product[1]%>" data-change="product">
                                    <% end %>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description"><%= product[0] %> </span>
                                </label>
                            </div>
                        <% end%>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Types</div>
            <div class="panel-body">
                <div class="row">
                   <div class="col-sm-12">
                        <% $GUITAR_TYPES.each do |guitar|%>
                            <div class="form-check">
                                <label class="custom-control custom-radio">
                                    <% if selected_guitar_type == guitar[1] %> 
                                        <input id="radio2" name="guitar_type" type="radio" class="custom-control-input" value="<%= guitar[1]%>" checked="" data-value="<%= guitar[1]%>" data-change="guitar_type">
                                    <% else %>
                                        <input id="radio22" name="guitar_type" type="radio" class="custom-control-input" value="<%= guitar[1]%>" data-value="<%= guitar[1]%>" data-change="guitar_type">
                                    <% end %>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description"><%= guitar[0] %> </span>
                                </label>
                            </div>
                        <% end%>
                    </div>
                </div>
            </div>
        </div>
        <% if @brands.present? %>
            <div class="panel panel-default">
                <div class="panel-heading">Brands</div>
                <div class="panel-body">
                    <div class="row">
                    <div class="col-sm-12">
                            <% @brands.each do |brand|%>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <% if selected_brands.include?(brand) %> 
                                            <input type="checkbox" name='brand'  value="<%= brand%>" class="custom-control-input" checked="">
                                        <% else %>
                                            <input type="checkbox" name='brand' value="<%= brand%>" class="custom-control-input">
                                        <% end %>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description"><%= brand%></span>
                                    </label>
                                </div>
                            <% end%>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <% if @no_of_strings.present? %>
            <div class="panel panel-default">
                <div class="panel-heading">Number of Strings</div>
                <div class="panel-body">
                    <div class="row">
                    <div class="col-sm-12">
                            <% @no_of_strings.each do |nos|%>
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <% if selected_strings.include?(nos.to_s) %> 
                                            <input type="checkbox" name='nos'  value="<%= nos%>" class="custom-control-input" checked="">
                                        <% else %>
                                            <input type="checkbox" name='nos' value="<%= nos%>" class="custom-control-input">
                                        <% end %>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description"><%= nos %></span>
                                    </label>
                                </div>
                            <% end%>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="panel panel-default hide">
            <div class="panel-heading">Price</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div id="range_03"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 margin-top-20">
        <div class="white-box">
            <div class="row">
                <% if @products.present? %>
                    <% @products.each do |product| %>
                        <div class="col-md-4" >
                           <%= render :partial=>'card', :locals=>{:product=> product}%>
                        </div>

                    <% end %>
                <% else %>
                    
                    <div class="col-md-12  margin-top-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <h4 class="card-title">No Item available</h4>
                                <p class="card-text">oops ! No items are available for selected category</p>
                            </div>
                        </div>
                    </div>
                   
                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $("#range_03").ionRangeSlider({
            type: "double",
            grid: true,
            min: 0,
            max: 10000,
            from: 200,
            to: 2000,
            prefix: "₹",
            onFinish: function (data) {
                // applyFilter();
            }
        });
        $(".add-to-cart").unbind('click').bind('click',  function(){
            let data ={
                pc: $(this).attr('data-product-class'),
                pi: $(this).attr('data-product-id')
            }
            $.ajax({url: "<%=add_to_cart_path%>",
                data: JSON.stringify(data), 
                type: "POST",
                dataType: 'json',
                contentType : 'application/json',
                success: function(res){
                alert('item has been added to cart')
                    
            }});
        })

        $(".custom-control-input").unbind('change').bind('change', function(){
            applyFilter();
        });

    })
    function applyFilter(){
        var selected_brands =[], selected_strings=[];
        $.each($(".custom-control-input[name='brand']:checked"), function(){            
            selected_brands.push($(this).val());
        });
        $.each($(".custom-control-input[name='nos']:checked"), function(){            
            selected_strings.push($(this).val());
        });
        
        let url ="/?p="+$('.custom-control-input[name="product"]:checked').val() +'&t='+$('.custom-control-input[name="guitar_type"]:checked').val()+"&b="+selected_brands.join(',')+"&n="+selected_strings.join(',');

        window.location.href =url
    }
</script>