<div class="row margin-top-20">
    <div class="col-sm-8 offset-sm-2">
        <div class="row white-box">
            <div class="col-sm-12 ">
                <div class="row product-bg">
                    <div class="col-lg-4 col-md-4 col-xs-12 sticky">
                        <ul class="thumbnails">
                            <li>
                                <a class="thumbnail" href="<%= @product.image_url%>" >
                                <div style="max-height: 300px;" class="zoomWrapper"><img data-zoom-image="<%= @product.image_url%>" src="<%= @product.image_url%>" id="zoom_03" class="img-responsive center-block" alt="image" style="position: absolute;"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 col-lg-8  col-xs-12 pro-content">
                        <h1><%= @product.name%></h1>
                        <h3 class="text-muted"><%= @product.description.truncate(150, separator: ' ') %></h3>
                        <hr class="producthr">
                        <ul class="list-unstyled">
                            <li><span class="text-decor">Brand:</span><%= @product.brand.name%></li>
                            <li><span class="text-decor">Product Code:</span> <%= @product.serial_number.to_s%></li>
                            <% if @product.class.to_s == "Guitar"%>
                                <li><span class="text-decor">Number of strings:</span> <%= @product.number_of_strings.to_s%></li>
                            <% end %>
                            <hr class="producthr">
                        </ul>
                        <ul class="list-unstyled">
                            <ul class="list-inline">
                                <li class="text-decor-bold proprice">
                                <h2>₹ <%= @product.price%></h2>
                                </li>
                                
                            </ul>
                        </ul>
                        <div id="product">
                            <hr class="producthr">
                            <div class="form-group">
                                <ul class="list-inline">
                                <li class="op-box qtlabel">
                                    <label class="control-label text-decorop" for="input-quantity">Qty</label>
                                </li>
                                <li class="op-box qty-plus-minus">
                                    <button type="button" class="form-control pull-left btn-number btnminus"  data-type="minus" data-field="quantity">
                                    <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                    <input id="input-quantity" type="text" name="quantity" value="1" size="2" class="form-control input-number pull-left">
                                    <input type="hidden" name="product_id" value="30">
                                    <button type="button" class="form-control pull-left btn-number btnplus" data-type="plus" data-field="quantity">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button type="button" data-product-class="<%= @product.class%>" data-product-id="<%= @product.id%>" id="button-cart" data-loading-text="Loading..." class="btn add-to-cart btn-primary margin-left-10 add-to-cart">Add to Cart</button>
                                </li>
                                </ul>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-12 ">
                <hr/>
            </div>
            <div class="col-sm-12 ">
                <h2 class="text-center">People who bought this, also bought this<h2>
                <div class="carousel">
                    <% @related_products.each do |related_product|%>
                        <div class="related-product-card">
                            <a href="<%= show_path({:pc=> related_product.class , :pi=> related_product.id })%>">
                                <img src="<%= related_product.image_url%>" height="200" width= "100"/>
                            </a>
                            <div class="thumb-content text-center">
                                <h4><%= (related_product.name.present?) ? related_product.name  : 'NA' %></h4>
                                <p class="item-price"><h5><span class="text-muted">$250.00</span></h5></p>
                            </div>	

                        </div>
                    <% end %>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>



<script>
$(function(){
    // $('.slick-wrapper').slick({
    //     slidesToShow: 4,
    //     slidesToScroll: 1,
    //     centerPadding: '60px',
    //     arrows: true,
    // });
    $('.carousel').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        dots:true,
        centerMode: true,
    });
    $('.btnminus').unbind('click').bind('click', function(){
        updateCount('sub');
    });
    $('.btnplus').unbind('click').bind('click', function(){
        updateCount('add');
    })

    $(".add-to-cart").unbind('click').bind('click',  function(){
            let data ={
                pc: $(this).attr('data-product-class'),
                pi: $(this).attr('data-product-id'),
                qt:  $("#input-quantity").val()
            }
            $.ajax({url: "<%=add_to_cart_path%>",
                data: JSON.stringify(data), 
                type: "POST",
                dataType: 'json',
                contentType : 'application/json',
                success: function(res){
                    alert(res.message)
                },
                error: function(res){
                    alert(res.responseJSON.message)
                }
                });
        })
    function updateCount(action){
        let existingCount = parseInt($("#input-quantity").val());
        existingCount = (action == 'add') ? (existingCount + 1) : (existingCount - 1)

        if(existingCount > 0){
            $("#input-quantity").val(existingCount)
        }
    }
})
</script>