body{
    /* font-size: 16px; */
    /* color: black; */
    font-family: Roboto,sans-serif;
    font-size: 13px;
    line-height: 1.538462;
    color: #333;
    background-color: #eee;
}
#user-notes{
    height: 400px;
    overflow-y: auto;
}
.send-chat-box{
    position: relative;
}
.send-chat-box .form-control {
    border: none;
    border-top: 1px solid rgba(120, 130, 140, .13);
    resize: none;
    height: 80px;
    padding-right: 180px;
}
.custom-send{
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.no-padding{
    padding: 0 !important;
}
.pad-bottom-10{
    padding-bottom: 10px !important;
}
.pad-top-10{
    padding-top: 10px;

}
.text-right{
    text-align: right
}
.bold-text{
    font-weight: 400;
}
.margin-0{
    margin: 0;
}
.custom-padding {
    padding: 50px 1px 1px 0px;
}
.increase-font{
    font-size: 20px !important;
    color: black;
}

table tbody td a.green-text,
table tbody td a.blue-text,
table tbody td a.red-text {
    margin: 0 3px;
    display: inline-block;
    opacity: .85;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    font-size: 130%!important;
    ;
}

table tbody td a.green-text:hover,
table tbody td a.blue-text:hover,
table tbody td a.red-text:hover {
    text-decoration: none;
    opacity: 1;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

table tbody td a.red-text{
    display: none;
}
a.green-text, .green-mark {
    color: #69aa46!important;
}

a.red-text, .red-mark {
    color: #dd5a43!important;
    margin-left: 8px !important;
}

a.blue-text {
    color: #337ab7!important;
    /* margin-left: 8px !important; */
}

.green-text{
    color: #69aa46!important;
}

.red-text{
    color: #dd5a43!important;
}
#additional-tax {
    color: #dd5a43!important;
    font-style: italic;
}
.additional-tax {
    color: #dd5a43!important;
    font-style: italic;
}

#discount-amt{
    color: #69aa46!important;
    font-style: italic;
}
.height-400{
    height: 400px;
}
.full-height {
    height: 100%;
}
.owl-stage-outer{
    height: 100%;
}
.second-home #side-menu>li>a.active{
    border-bottom: 2px solid #01c0c8;
    color: #2b2b2b;
    font-weight: 500;
    border-left: none;
}
.margin-auto{
    margin: auto;
}
.background-white{
    background-color: #fff;
}
.padding-10{
    padding: 10px !important;
}
.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-150{
    height: 150px;
    width: 150px;
}
.border-right{
    border-right: 1px solid;
}
.border-left{
    border-left: 1px solid;
}
.height-170{
    height: 170px;
}
.panel-border{
    border: 1px solid;
}
.adjustable-hight{
    max-height: 885px;
    overflow-y: auto;
}
.selected-alpha{
    background: #fff;
}
.padding-left-30{
    padding-left: 30px;
}

.alert-info{
    background: rgba(3, 169, 243, 0.25);
    color: #2b2b2b;
    border-color: rgba(3, 169, 243, 0.33);
}
.full-width{
    width: 100%;
}
tbody{
    color: black;
}

.active-user {
    background: #e7def7;
}
table#generic-data-table{
    font-size: 11px;
}
.table-bordered{
    border: 1px solid #000
}

.alert-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 15px;
    margin-bottom: 20px !important;
    border: 1px solid transparent;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    padding: 15px;
    margin-bottom: 20px !important;
    border: 1px solid transparent;
}
.device-errors li{
    display: block;
}

.el-element-overlay .el-card-item .el-overlay{
    display: none;
}
.custom-label{
    text-align: center;
    text-transform: uppercase;
}
.cursor-pointer{
    cursor: pointer !important;    
}

.only-register .login-box{
    width: auto !important;
    margin: 2% !important;
}
.only-register{
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
.padding-5-per{
    padding: 5% ;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.red-text{
    color: red;
}
.text-bold{
    font-weight: bold;
}
.custom-panel-width{
    height: 300px;
    overflow-y: auto;
}
.custom-panel-header{
    background: #152254 !important;
    border-color: #152254 !important;
}
.pay-now-listing{
    color: white !important;
}
.bg-dark {
    background-color: #343a40!important;
}
.bg-megna {
    background-color: #01c0c8;
}   
#summary-report .card-body{
    margin-bottom: 20px;
    flex: 1 1 auto;
    padding: 1.25rem;
}

/* css for responsiveness */
/* table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
   
    display: block;
    position: absolute;
   
    display: block;
    position: absolute;
    font-family: "FontAwesome";
    content: '\f0fe';
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child.dataTables_empty:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child.dataTables_empty:before {
    display: none;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    
    font-family: "FontAwesome";
    content: '\f146';
}

table.dataTable.dtr-inline.collapsed>tbody>tr.child td:before {
    display: none;
}

table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child,
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child {
    padding-left: 27px;
}

table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before {
    top: 5px;
    left: 4px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    line-height: 12px;
}

table.dataTable.dtr-column>tbody>tr>td.control,
table.dataTable.dtr-column>tbody>tr>th.control {
    position: relative;
    cursor: pointer;
}

table.dataTable.dtr-column>tbody>tr>td.control:before,
table.dataTable.dtr-column>tbody>tr>th.control:before {
   
    display: block;
    position: absolute;
    font-family: "FontAwesome";
    content: '\f0fe';
}

table.dataTable.dtr-column>tbody>tr.parent td.control:before,
table.dataTable.dtr-column>tbody>tr.parent th.control:before {
    font-family: "FontAwesome";
    content: '\f146';
}

table.dataTable>tbody>tr.child {
    padding: 0.5em 1em;
}

table.dataTable>tbody>tr.child:hover {
    background: transparent !important;
}

table.dataTable>tbody>tr.child ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table.dataTable>tbody>tr.child ul li {
    border-bottom: 1px solid #efefef;
    padding: 0.5em 0;
}

table.dataTable>tbody>tr.child ul li:first-child {
    padding-top: 0;
}

table.dataTable>tbody>tr.child ul li:last-child {
    border-bottom: none;
}

table.dataTable>tbody>tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: bold;
} */

/* css for responsiveness */

/*
@author: http://coderexample.com
@reference : http://codepen.io/Akiletour/pen/emGOgd
*/
.dataTables_wrapper .dataTables_processing{
    position: absolute!important;
    /*top: 50%!important;*/
    right: 0!important;
    top: 50px!important;
    margin-left: 50%!important;
    margin-top: 15px!important;
    background:none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.dataTables_processing > div {
 content: "";
  width: 10px;
  height: 10px;
  background: #2196F3;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}
.dataTables_processing > div:nth-of-type(1) {
  -webkit-animation-delay: -.4s;
          animation-delay: -.4s;
}
.dataTables_processing > div:nth-of-type(2) {
  -webkit-animation-delay: -.8s;
          animation-delay: -.8s;
}
.dataTables_processing > div:nth-of-type(3) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.dataTables_processing > div:nth-of-type(4) {
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

@-webkit-keyframes animate {
  0% {
    left: 100px;
    top: 0;
  }
  80% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -10px;
    width: 10px;
    height: 10px;
  }
  90% {
    width: 40px;
    height: 15px;
  }
  95% {
    left: 100px;
    top: -10px;
    width: 10px;
    height: 10px;
  }
  100% {
    left: 100px;
    top: 0;
  }
}

@keyframes animate {
  0% {
    left: 100px;
    top: 0;
  }
  80% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -10px;
    width: 10px;
    height: 10px;
  }
  90% {
    width: 20px;
    height: 10px;
  }
  95% {
    left: 100px;
    top: -10px;
    width: 10px;
    height: 10px;
  }
  100% {
    left: 100px;
    top: 0;
  }
}
.delivered{color: #006400}
.not_delivered{color: #FF0000}

.track-parcel .loading-text{
    font-size: 14px;
}

.white-bg{
    background: #fff;
}

.no-margin-padding-botton{
    margin-bottom: 0; 
    padding-bottom: 0; 
}
.no-margin-paddin-top{
    margin-top: 0;
    padding-top: 0;
}

.width-100{
    width: 100px;
}

.height-100{
    height: 100px;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid transparent;
	border-radius: 0
}

.card>hr {
	margin-right: 0;
	margin-left: 0
}

.card>.list-group:first-child .list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.card>.list-group:last-child .list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.card-body {
	flex: 1 1 auto;
	padding: 1.25rem
}

.card-footer,
.card-header {
	padding: .75rem 1.25rem;
	background-color: rgba(0, 0, 0, .03)
}

.card-title {
	margin-bottom: .75rem
}

.card-header,
.card-subtitle,
.card-text:last-child {
	margin-bottom: 0
}

.card-subtitle {
	margin-top: -.375rem
}

.card-link:hover {
	text-decoration: none
}

.card-link+.card-link {
	margin-left: 1.25rem
}

.card-header-pills,
.card-header-tabs {
	margin-right: -.625rem;
	margin-left: -.625rem
}

.card-header {
	border-bottom: 0 solid transparent
}

.card-header:first-child {
	border-radius: calc(0px - 0px) calc(0px - 0px) 0 0
}

.card-header+.list-group .list-group-item:first-child {
	border-top: 0
}

.card-footer {
	border-top: 0 solid transparent
}

.card-footer:last-child {
	border-radius: 0 0 calc(0px - 0px) calc(0px - 0px)
}

.card-header-tabs {
	margin-bottom: -.75rem;
	border-bottom: 0
}

.card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem
}
.img-responsive {
    max-width: 100%;
    height: auto;
    width: 100%;
}
.custom-card .img-responsive{
    height: 200px;
}
.margin-left-10{
    margin-left: 10px;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0px - 0px);
    border-top-right-radius: calc(0px - 0px);
}
.page-titles {
    background: #fff;
    padding: 14px 10px;
    margin: 0 -25px 25px;
}

.page-titles .breadcrumb {
    padding: 0;
    margin: 0;
    background: 0 0;
    font-size: 12px;
}


.product-bg {
    background-color: #fff;
    padding: 15px 0;
    border-radius: 4px;
    margin: 0;
}
.thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
}
.thumbnail {
    border-radius: 0;
    padding: 0;
    position: relative;
    border: none;
}
.pro-content h1 {
    font-size: 18px;
    text-transform: uppercase;
    color: #161616;
    letter-spacing: 1px;
    margin-top: 0;
}
.producthr {
    border-top: 1px solid #ddd;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.text-decor, .text-de {
    text-transform: capitalize;
    color: #161616;
    font-size: 14px;
    letter-spacing: 1px;
    min-width: 150px;
    display: inline-block;
}
.textdeb {
    color: #fc381a;
    margin: 0 4px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    padding: 0;
}
.text-decor-bold.proprice h2 {
    font-size: 22px;
    margin-top: 0;
}

.qtlabel {
    position: relative;
    margin-right: 10px;
    top: -14px;
}
.pro-content .qty-plus-minus .form-control {
    width: 45px;
    text-align: center;
    color: #232d2a;
}


.pro-content #input-quantity {
    border-radius: 0;
}
.pro-content .qty-plus-minus .form-control {
    width: 45px;
    text-align: center;
    color: #232d2a;
}

@media (min-width: 992px){

    .sticky {
        position: sticky;
        top: 15px;
    }
}

@media (min-width: 1410px){
    
    label, .form-control {
        font-size: 14px !important;
    }
}

.image-related{
    width: 200px;
    height: 200px;
}


.carousel{
    width:90%;
    margin:0px auto;
}
.slick-slide{
    margin:10px;
}
.slick-slide img{
    width:100%;
    border: 2px solid #fff;
}

.related-product-card{
    border: 1px dotted;
    background: white;
    color: #000;
}

.slick-prev:before {
    content: "<";
    color: black;
    font-size: 30px;
}

.slick-next:after {
    content: ">";
    color: black;
    font-size: 30px;
}

