<% action = (params[:action] == 'new' || params[:action] == 'create') ? 'new' : 'update'   %>
<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 margin-top-3">
      <div class="white-box">
          <h3 class="box-title m-b-0"><%= action%> Brand</h3>
            <div class="white-box">
              <div class="row">
                  <div class="col-sm-12 col-xs-12">
                      <%= form_with(model: brand, local: true) do |f| %>
                        <% if brand.errors.any? %>
                            <div id="error_explanation">
                            <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

                            <ul>
                            <% brand.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                            </ul>
                            </div>
                        <% end %>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <%= f.text_field :name, :class=>"form-control", :placeholder=>"Brand Name", :id=>"name"%>
                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>

                        <%= link_to 'Cancel', brands_path, :class => "btn btn-inverse waves-effect waves-light"%>
                          
                      <% end %>
                  </div>
              </div>
            </div>
          </div>
    </div>
</div>

