<% action = (params[:action] == 'new' || params[:action] == 'create') ? 'new' : 'update'   %>
<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 margin-top-3">
      <div class="white-box">
          <h3 class="box-title m-b-0"><%= action%> Accessory</h3>
            <div class="white-box">
              <div class="row">
                  <div class="col-sm-12 col-xs-12">
                      <%= form_with(model: accessory, local: true) do |f| %>
                            <% if accessory.errors.any? %>
                                <div id="error_explanation">
                                <h2><%= pluralize(accessory.errors.count, "error") %> prohibited this accessory from being saved:</h2>

                                <ul>
                                <% accessory.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                <% end %>
                                </ul>
                                </div>
                            <% end %>
                          <div class="form-group">
                              <label for="name">Name</label>
                              <%= f.text_field :name, :class=>"form-control", :placeholder=>"Name", :id=>"name"%>
                          </div>
                          <div class="form-group">
                              <label for="description">Description</label>
                              <%= f.text_area :description, :class=>"form-control", :placeholder=>"Description", :id=>"description"%>
                          </div>
                          <div class="form-group">
                              <label for="brand_id">Brand</label>
                              <%= f.select :brand_id, options_for_select(Brand.all.map { |brand| [brand.name, brand.id] }, f.object.brand_id), {:prompt => 'Select Brand'}, {:class => 'form-control'}%> 
                          </div>
                          <div class="form-group">
                              <label for="guitar_type">Accesory For</label>
                              <%= f.select :guitar_type, options_for_select($GUITAR_TYPES, f.object.guitar_type), {:prompt => 'Select Type'}, {:class => 'form-control'}%> 
                          </div>

                          <div class="form-group">
                            <label for="image">Image</label>
                            <%= f.file_field :image, id: :guitar_image, :class=>"form-control" %>
                          </div>
                          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>

                          <%= link_to 'Cancel', guitars_path, :class => "btn btn-inverse waves-effect waves-light"%>
                          
                      <% end %>
                  </div>
              </div>
            </div>
          </div>
    </div>
</div>
