<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="wrapper">
        <%= render :partial=> "shared/topbar"%>
        <% if current_user.present? and current_user.is_admin%>
          <%= render :partial=> "shared/leftbar" %>
        <% end %>

        <div id="page-wrapper<%= (!current_user.present? or (current_user.present? and !current_user.is_admin)) ? ' full-width' : ''%>">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
    </div>
  </body>
</html>
